{% load static %}

<meta charset="UTF-8">
<link rel="stylesheet" href="{% static 'assets/js/plugin/swiper/swiper-bundle.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
<link rel="apple-touch-icon" sizes="180x180" href={%static "assets/images/favicon_io/apple-touch-icon.png"%}>
<link rel="icon" type="image/png" sizes="32x32" href= {%static "assets/images/favicon_io/favicon-32x32.png"%}>
<link rel="icon" type="image/png" sizes="16x16" href= {%static "assets/images/favicon_io/favicon-16x16.png"%}>
<link rel="preload" href={%static "assets/fonts/payda/PeydaWebFaNum-Medium.woff2"%} as="font" type="font/woff2" crossorigin>
    <link rel="canonical" href="https://example.com/your-page-url">

 <meta name="author" content="لوکس مارکت">
    <meta name="copyright" content="تمامی حقوق متعلق به لوکس مارکت است.">
        <meta name="robots" content="index, follow">
<meta name="description"
        content="قالب فرشگاهی لوکس مارکت بهترین قالب برای فروشگاه‌های اینترنتی با طراحی مدرن و واکنش‌گرا.">
        
    <meta name="keywords" content="قالب فروشگاهی, قالب لوکس مارکت, فروشگاه اینترنتی, طراحی واکنش‌گرا">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <link rel="stylesheet" href={%static "assets/js/plugin/story-player/styles.css"%}>
