 {% load static %}
<section class="py-5 dark:text-white dark:bg-background-dark bg-white drop-shadow-md border-t border-gray-200"
        itemscope itemtype="http://schema.org/WPFooter">
        <div class="container">
            <!-- Logo and Back to Top -->
            <div class="grid gap-4 grid-cols-4 place-items-center" itemscope itemtype="http://schema.org/Organization">
                <div class="sm:col-span-3 col-span-2 w-full">
                    <a href="/" itemprop="url">
                        <figure itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                            <img src= {%static "assets/images/logo.png"%} class="h-12" alt="لوگوی فروشگاه لوکس مارکت"
                                itemprop="contentUrl">
                            <meta itemprop="caption" content="لوگوی رسمی فروشگاه لوکس مارکت">
                        </figure>
                    </a>
                </div>
                <div class="sm:col-span-1 col-span-2 w-full">
                    <div class="text-left">
                        <a href="#top" class="inline-flex border px-4 py-1.5 item-center justify-between rounded-lg"
                            aria-label="بازگشت به بالای صفحه">
                            <span>بازگشت بالا</span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-5 ms-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Contact Information -->
            <div class="flex my-10 items-start flex-wrap space-y-4 space-x-4 divide-x-2  sm:divide-neutral-600 divide-transparent"
                itemscope itemtype="http://schema.org/ContactPoint">
                <div class="space-x-3 pl-2" itemprop="contactOption" itemscope
                    itemtype="http://schema.org/ContactPoint">
                    <span class="inline-block">شماره تماس:</span>
                    <span class="inline-block" itemprop="telephone">021-12345678</span>
                </div>
                <div class="space-x-3 pl-2" itemprop="contactOption" itemscope
                    itemtype="http://schema.org/ContactPoint">
                    <span class="inline-block">آدرس ایمیل:</span>
                    <a href="mailto:site@gmail.com" class="inline-block" itemprop="email">site@gmail.com</a>
                </div>
                <div class="space-x-3 pl-2">
                    <meta itemprop="hoursAvailable" content="Mo-Su,00:00-23:59">
                    <span class="inline-block">هفت روز هفته ، 24 ساعت شبانه‌روز پاسخگوی شما هستیم.</span>
                </div>
            </div>
            <!-- Menu Columns -->
            <div class="grid gap-4 grid-cols-4 place-items-start">
                <div class="lg:col-span-1 sm:col-span-2 col-span-4 w-full">
                    <h4 class="font-bold text-lg dark:text-white mb-5" aria-label="راهنمای خرید">راهنمای خرید</h4>
                    <ul class="space-y-4 mt-1" role="menu">
                        <li role="menuitem"><a href="/order-guide" itemprop="significantLink">نحوه ثبت سفارش</a></li>
                        <li role="menuitem"><a href="/shipping-policy" itemprop="significantLink">رویه ارسال سفارش</a>
                        </li>
                        <li role="menuitem"><a href="/payment-methods" itemprop="significantLink">شیوه های پرداخت</a>
                        </li>
                        <li role="menuitem"><a href="/return-policy" itemprop="significantLink">رویه های بازگرداندن
                                کالا</a>
                        </li>
                    </ul>
                </div>
                <div class="lg:col-span-1 sm:col-span-2 col-span-4 w-full">
                    <h4 class="font-bold text-lg dark:text-white mb-5" aria-label="سیاست‌های فروشگاه">فروشگاه</h4>
                    <ul class="space-y-4 mt-1" role="menu">
                        <li role="menuitem"><a href="/privacy" itemprop="significantLink">حریم خصوصی</a></li>
                        <li role="menuitem"><a href="/terms" itemprop="significantLink">شرایط استفاده</a></li>
                        <li role="menuitem"><a href="/return-policy" itemprop="significantLink">رویه های بازگرداندن
                                کالا</a>
                        </li>
                        <li role="menuitem"><a href="/faq" itemprop="significantLink">پاسخ به پرسش های متداول</a></li>
                    </ul>
                </div>
                <div class="lg:col-span-1 sm:col-span-2 col-span-4 w-full">
                    <h4 class="font-bold text-lg dark:text-white mb-5" aria-label="درباره ما">درباره ما</h4>
                    <ul class="space-y-4 mt-1" role="menu">
                        <li role="menuitem"><a href="/newsroom" itemprop="significantLink">اتاق خبر</a></li>
                        <li role="menuitem"><a href="/sell-with-us" itemprop="significantLink">فروش در فروشگاه ما</a>
                        </li>
                        <li role="menuitem"><a href="/careers" itemprop="significantLink">فرصت های شغلی</a></li>
                        <li role="menuitem"><a href="/contact" itemprop="significantLink">تماس با ما</a></li>
                    </ul>
                </div>
                <div class="lg:col-span-1 sm:col-span-2 col-span-4 w-full">
                    <h4 class="font-bold text-lg dark:text-white mb-5" aria-label="شبکه‌های اجتماعی">رسانه های خبری ما
                    </h4>
                    <ul class="flex items-center space-x-4" role="list">
                        <li role="listitem"><a href="rubika-link" itemprop="sameAs"><img
                                    src= {% static "assets/images/social/rubika.png" %} alt="ربیکا" class="size-7"></a></li>
                        <li role="listitem"><a href="aparat-link" itemprop="sameAs"><img
                                    src= {% static "assets/images/social/aparat.png" %} alt="آپارات" class="size-7"></a></li>
                        <li role="listitem"><a href="bale-link" itemprop="sameAs"><img
                                    src= {% static "assets/images/social/bale.png" %} alt="بله" class="size-7"></a></li>
                        <li role="listitem"><a href="eitta-link" itemprop="sameAs"><img
                                    src="{% static 'assets/images/social/eitta.png' %}"alt="ایتا" class="size-7"></a></li>
                        <li role="listitem"><a href="igap-link" itemprop="sameAs"><img
                                    src= {% static "assets/images/social/igap.png" %} alt="ایگپ" class="size-7"></a></li>
                        <li role="listitem"><a href="sorush-link" itemprop="sameAs"><img
                                    src= {% static "assets/images/social/sorush.png" %} alt="سروش" class="size-7"></a></li>
                    </ul>
                    <h4 class="font-bold text-lg dark:text-white my-5" aria-label="عضویت در خبرنامه">عضویت در خبرنامه
                    </h4>
                    <form action="/newsletter" method="POST" itemprop="potentialAction" itemscope
                        itemtype="http://schema.org/SubscribeAction">
                        <meta itemprop="target" content="/newsletter-subscribe">
                        <div class="flex items-center">
                            <input type="tel" name="mobile" inputmode="numeric" pattern="[0-9]*"
                                class="w-full dark:bg-zinc-700 focus:ring-primary direction outline-0 focus:border-primary border-2 border-transparent rounded-xl bg-gray-200 border-gray-300 py-4 px-3 dir-rtl"
                                placeholder="شماره موبایل خود را وارد کنید" itemprop="query-input">
                            <button type="submit" class="bg-primary-grad mr-2 py-4 px-6 text-white rounded-xl"
                                aria-label="ثبت شماره موبایل">ثبت
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Application Download -->
            <div class="grid gap-4 bg-primary-grad no-hover px-4 py-5 rounded-xl mt-5 grid-cols-4 place-items-center">
                <div class="lg:col-span-1 col-span-4 w-full">
                    <h4 class="font-bold text-xl text-white">دانلود اپلیکیشن فروشگاهی لوکس مارکت</h4>
                </div>
                <div class="lg:col-span-3 col-span-4 w-full">
                    <ul class="flex items-center justify-end space-x-3">
                        <li>
                            <a href="play-store-link" itemprop="downloadUrl" itemscope
                                itemtype="http://schema.org/SoftwareApplication">
                                <meta itemprop="applicationCategory" content="BusinessApplication">
                                <img src= {%static "assets/images/application/google-play-app.svg"%} alt="دانلود از گوگل پلی"
                                    class="h-12">
                            </a>
                        </li>
                        <li>
                            <a href="sibapp-link" itemprop="downloadUrl" itemscope
                                itemtype="http://schema.org/SoftwareApplication">
                                <meta itemprop="operatingSystem" content="Android">
                                <img src= {%static "assets/images/application/app-sibapp.svg"%} alt="دانلود از سیب‌اپ" class="h-12">
                            </a>
                        </li>
                        <li>
                            <a href="bazar-link" itemprop="downloadUrl" itemscope
                                itemtype="http://schema.org/SoftwareApplication">
                                <meta itemprop="operatingSystem" content="Android">
                                <img src= {%static "assets/images/application/bazar-app.svg"%} alt="دانلود از بازار" class="h-12">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Description & Trust Seals -->
            <div class="grid gap-4 grid-cols-4 mt-10">
                <div class="lg:col-span-3 col-span-4" itemprop="description">
                    <h5 class="font-bold mb-5">فروشگاه اینترنتی لوکس مارکت بررسی، انتخاب و خرید آنلاین</h5>
                    <p class="text-neutral-600 dark:text-white leading-9">
                        لوکس مارکت به عنوان یکی از قدیمی‌ترین فروشگاه های اینترنتی با بیش از یک دهه تجربه، با پایبندی به
                        سه اصل،
                        پرداخت در محل، ۷ روز ضمانت بازگشت کالا و تضمین اصل‌بودن کالا موفق شده تا همگام با فروشگاه‌های
                        معتبر
                        جهان، به بزرگ‌ترین فروشگاه اینترنتی ایران تبدیل شود.
                    </p>
                </div>
                <div class="lg:col-span-1 col-span-4">
                    <ul class="flex lg:justify-end justify-center items-center space-x-4">
                        <li class="border border-gray-300 p-3 rounded-xl">
                            <a href="/trust-seals" itemscope itemtype="https://schema.org/ImageObject">
                                <img src= {%static "assets/images/namad/namad-01.png"%} class="h-25" alt="نماد اعتماد الکترونیک"
                                    itemprop="contentUrl">
                                <meta itemprop="caption" content="نماد رسمی اعتماد الکترونیک">
                            </a>
                        </li>
                        <li class="border border-gray-300 p-3 rounded-xl">
                            <a href="/enamad-verify" itemscope itemtype="https://schema.org/ImageObject">
                                <img src= {%static  "assets/images/namad/enamad.png"%} class="h-25" alt="اینماد"
                                    itemprop="contentUrl">
                                <meta itemprop="license" content="https://enamad.ir">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Copyright -->
            <div class="grid gap-4 grid-cols-4 mt-10">
                <div class="lg:col-span-3 col-span-4">
                    <p class="text-neutral-500 dark:text-white leading-9" itemprop="copyrightNotice">
                        استفاده از مطالب فروشگاه اینترنتی لوکس مارکت فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع است.
                        <span itemprop="copyrightYear">2006-2024</span> کلیه حقوق این سایت متعلق به
                        <span itemprop="copyrightHolder" itemscope itemtype="http://schema.org/Organization">
                            <span itemprop="name">لوکس مارکت</span>
                        </span> می‌باشد.
                    </p>
                </div>
                <div class="lg:col-span-1 col-span-4">
                    <p class="text-neutral-500 dark:text-white sm:text-end text-center leading-9">
                        طراحی و توسعه توسط
                        <a href="https://amir-rezaie.ir" itemprop="author">امیررضایی</a>
                    </p>
                </div>
            </div>
        </div>
    </section>