{% load static %}
<!doctype html>
<html lang="en" dir="rtl">

<head>
    <title>لوکس مارکت</title>    
    {% include 'base/header.html' %}
</head>

<body
    class="bg-light dark:bg-background-dark text-text-primary-light dark:text-text-primary-dark transition-colors duration-200">
    <!-- ================= start header ================= -->
        {% include 'base/appbar.html' %}

    <!-- ================= end header ================= -->

    <!-- ================= start content section ================= -->
    <section class="py-5">
        <div class="container">

            <!-- stepper -->
            <ol
                class="flex items-center w-full bg-white rounded-lg drop-shadow-lg border border-gray-300 mb-4 p-3 space-x-2 text-sm font-medium text-center text-gray-500 dark:text-gray-400 sm:text-base dark:bg-gray-800  sm:p-4 sm:space-x-4 rtl:space-x-reverse">
                <li class="flex font-bold text-primary items-center">
                    <span class="flex items-center justify-center w-5 h-5 me-2 text-xs border rounded-full shrink-0 ">
                        1
                    </span>
                    جزئیات <span class="hidden sm:inline-flex sm:ms-2">سبد خرید</span>
                    <svg class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m7 9 4-4-4-4M1 9l4-4-4-4" />
                    </svg>
                </li>
                <li class="flex items-center">
                    <span
                        class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
                        2
                    </span>
                    جزئیات <span class="hidden sm:inline-flex sm:ms-2">سفارش</span>
                    <svg class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m7 9 4-4-4-4M1 9l4-4-4-4" />
                    </svg>
                </li>
                <li class="flex items-center">
                    <span
                        class="flex me-2 items-center justify-center w-5 h-5 ms-2 text-xs border border-gray-500 rounded-full shrink-0 dark:border-gray-400">
                        3
                    </span>
                    جزئیات <span class="hidden sm:inline-flex sm:ms-2">پرداخت</span>
                </li>
            </ol>

            <!-- content -->
            <div class="grid gap-4 relative grid-cols-4">
                <!-- product -->
                <div class="xl:col-span-3 col-span-4 w-full">
                    <ul class="space-y-4">
                        <li>
                            <div
                                class="grid grid-cols-4 gap-4 dark:bg-background-dark dark:text-white bg-white rounded-lg drop-shadow-lg border-gray-300 border-1 p-4">
                                <div class="lg:col-span-3 col-span-4 w-full">
                                    <div class="flex flex-wrap">
                                        <figure>
                                            <img class="size-40" src={%static "assets/images/product/wach-1.png"%} alt="">
                                        </figure>
                                        <div class="space-y-5">
                                            <div class="flex sm:space-y-0 space-y-2 item-center flex-wrap">
                                                <h3 class="sm:w-auto w-full font-bold"> لپ تاپ 14.2 اینچی اپل مدل 2021
                                                    MacBook MKGR3 M1 Pro</h3>
                                                <span
                                                    class="bg-secondary px-3 rounded-bl-none text-sm rounded-xl text-white sm:ms-3"
                                                    itemprop="discount">10%</span>
                                            </div>
                                            <div class="flex item-center space-x-2">
                                                <div>
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        class="size-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z" />
                                                    </svg>
                                                </div>
                                                <h6 class="font-bold">فروشنده:</h6>
                                                <span class="block">ایران موبایل</span>
                                            </div>
                                            <div class="flex item-center space-x-2">
                                                <div>
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        class="size-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                                                    </svg>
                                                </div>
                                                <h6 class="font-bold">گارانتی:</h6>
                                                <span class="block">پارس گرین</span>
                                            </div>
                                            <div class="flex items-center">
                                                <div
                                                    class="inline-flex items-center space-x-2 border rounded-full px-4 py-2 dark:bg-zinc-800 bg-white shadow">
                                                    <button
                                                        class="bg-gray-500 text-white w-8 h-8 rounded-full flex items-center justify-center text-lg"
                                                        onclick="increment('count2')">+
                                                    </button>
                                                    <span id="count2" class="text-lg  px-5 inline-block">1</span>
                                                    <button
                                                        class="bg-gray-200 text-gray-600 w-8 h-8 rounded-full flex items-center justify-center text-lg"
                                                        onclick="decrement('count2')">-
                                                    </button>
                                                </div>
                                                <a href=""
                                                    class="block p-2 bg-primary-grad rounded-full text-white ms-2 mt-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        class="size-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lg:col-span-1 col-span-4 w-full">
                                    <div class="space-y-5 flex flex-col xl:items-end xl:justify-end">
                                        <del class="text-zinc-400" itemprop="priceSpecification" itemscope=""
                                            itemtype="http://schema.org/UnitPriceSpecification">
                                            <meta itemprop="priceCurrency" content="IRR">
                                            <span itemprop="price">10,000,000</span>
                                        </del>
                                        <span class="text-xl block font-bold dark:text-white" itemprop="price"
                                            content="90000000">90,000,000 <span class="text-xs">تومان</span></span>
                                        <a href=""
                                            class="flex justify-center items-center border p-2 rounded-3xl hover:bg-gray-200 transition dark:hover:bg-zinc-700">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.5" stroke="currentColor" class="size-6 me-2">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                            </svg>
                                            <span>
                                                ذخیره در لیست خرید بعدی
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div
                                class="grid grid-cols-4 gap-4 dark:bg-background-dark dark:text-white bg-white rounded-lg drop-shadow-lg border-gray-300 border-1 p-4">
                                <div class="lg:col-span-3 col-span-4 w-full">
                                    <div class="flex flex-wrap">
                                        <figure>
                                            <img class="size-40" src={%static "assets/images/product/wach-2.png"%} alt="">
                                        </figure>
                                        <div class="space-y-5">
                                            <div class="flex sm:space-y-0 space-y-2 item-center flex-wrap">
                                                <h3 class="sm:w-auto w-full font-bold"> لپ تاپ 14.2 اینچی اپل مدل 2021
                                                    MacBook MKGR3 M1 Pro</h3>
                                                <span
                                                    class="bg-secondary px-3 rounded-bl-none text-sm rounded-xl text-white sm:ms-3"
                                                    itemprop="discount">10%</span>
                                            </div>
                                            <div class="flex item-center space-x-2">
                                                <div>
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        class="size-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z" />
                                                    </svg>
                                                </div>
                                                <h6 class="font-bold">فروشنده:</h6>
                                                <span class="block">ایران موبایل</span>
                                            </div>
                                            <div class="flex item-center space-x-2">
                                                <div>
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        class="size-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
                                                    </svg>
                                                </div>
                                                <h6 class="font-bold">گارانتی:</h6>
                                                <span class="block">پارس گرین</span>
                                            </div>
                                            <div class="flex items-center">
                                                <div
                                                    class="inline-flex items-center space-x-2 border rounded-full px-4 py-2 dark:bg-zinc-800 bg-white shadow">
                                                    <button
                                                        class="bg-gray-500 text-white w-8 h-8 rounded-full flex items-center justify-center text-lg"
                                                        onclick="increment('count1')">+
                                                    </button>
                                                    <span id="count1" class="text-lg  px-5 inline-block">1</span>
                                                    <button
                                                        class="bg-gray-200 text-gray-600 w-8 h-8 rounded-full flex items-center justify-center text-lg"
                                                        onclick="decrement('count1')">-
                                                    </button>
                                                </div>
                                                <a href=""
                                                    class="block p-2 bg-primary-grad rounded-full text-white ms-2 mt-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        class="size-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="lg:col-span-1 col-span-4 w-full">
                                    <div class="space-y-5 flex flex-col xl:items-end xl:justify-end">
                                        <del class="text-zinc-400" itemprop="priceSpecification" itemscope=""
                                            itemtype="http://schema.org/UnitPriceSpecification">
                                            <meta itemprop="priceCurrency" content="IRR">
                                            <span itemprop="price">10,000,000</span>
                                        </del>
                                        <span class="text-xl block font-bold dark:text-white" itemprop="price"
                                            content="90000000">90,000,000 <span class="text-xs">تومان</span></span>
                                        <a href=""
                                            class="flex justify-center items-center border p-2 rounded-3xl hover:bg-gray-200 transition dark:hover:bg-zinc-700">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                stroke-width="1.5" stroke="currentColor" class="size-6 me-2">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                    d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                                            </svg>
                                            <span>
                                                ذخیره در لیست خرید بعدی
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- calculate -->
                <div class="xl:col-span-1 col-span-4 w-full">
                    <div
                        class="dark:bg-background-dark sticky top-0 dark:text-white bg-white rounded-lg drop-shadow-lg border-gray-300 border-1 p-4">
                        <ul class="space-y-5">
                            <li class="flex justify-between item-center">
                                <h6 class="font-bold">قیمت کالاها</h6>
                                <p>1,220,000 تومان</p>
                            </li>
                            <li class="flex justify-between item-center">
                                <h6 class="font-bold">تخفیف کالاها</h6>
                                <p class="text-primary font-bold">1,220,000 تومان</p>
                            </li>
                            <li class="flex justify-between item-center">
                                <h6 class="font-bold">مجموع</h6>
                                <p>3,220,000 تومان</p>
                            </li>
                            <li>
                                <a href=""
                                    class="p-2 bg-primary-grad w-full block text-center rounded-lg text-white">تسویه
                                    حساب</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================= end content section ================= -->

    <!-- ================= start footer section ================= -->
        {% include 'base/footer.html' %}

    <!-- ================= end footer section ================= -->

    <!-- ================= start cart offcanvas ================= -->
    <!-- Offcanvas Cart -->
    <div id="offcanvas-left"
        class="offcanvas invisible dark:bg-background-dark dark:text-white fixed top-0 left-0 sm:w-100 w-[80%] h-full bg-white shadow-lg transform -translate-x-full transition-transform opacity-0 z-50"
        role="dialog" aria-labelledby="cart-title" aria-modal="true">
        <!-- Header -->
        <header class="border-b p-3 flex items-center justify-between border-gray-400">
            <h2 id="cart-title" class="font-bold text-base">سبد خرید شما</h2>
            <button onclick="closeOffcanvas()" class="cursor-pointer" aria-label="بستن سبد خرید">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </button>
        </header>
        <!-- Cart Items -->
        <main class="relative space-y-4 divide-y divide-gray-200 p-3 overflow-y-scroll h-full">
            <!-- Product 1 -->
            <div class="py-3 last:mb-35" itemscope itemtype="http://schema.org/Product">
                <div class="flex flex-wrap items-center">
                    <div class="text-right w-1/3">
                        <img class="max-w-full" src={%static "assets/images/product/wach-1.png"%}
                            alt="ساعت مچی عقربه‌ای مردانه اینویکتا مدل Automatico Ghost Reserve" itemprop="image"
                            loading="lazy">
                    </div>
                    <div class="w-2/3 space-y-4">
                        <h3 class="font-bold leading-7" itemprop="name">
                            ساعت مچی عقربه‌ای مردانه اینویکتا مدل Automatico Ghost Reserve
                        </h3>
                        <div class="flex items-center justify-between">
                            <del class="text-rose-600 dark:text-white line-through" itemprop="priceCurrency"
                                content="IRR">
                                <span itemprop="highPrice">5,000,000</span>
                            </del>
                            <ins class="no-underline text-xl text-green-600 font-bold" itemprop="price"
                                content="2500000">
                                2,500,000 <span class="text-sm font-normal text-gray-700 dark:text-white">تومان</span>
                            </ins>
                        </div>
                        <div class="flex items-end justify-between">
                            <span itemprop="quantity">تعداد: 3</span>
                            <a href="#"
                                class="bg-red-100 dark:border dark:bg-transparent dark:text-white text-red-950 p-2 rounded-lg"
                                role="button" aria-label="حذف محصول از سبد خرید">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer -->
        <footer
            class="p-2 absolute bottom-0 right-0 left-0 bg-white dark:border-0  dark:bg-background-dark border border-gray-400">
            <div class="flex items-center justify-between">
                <div class="space-y-2">
                    <span class="inline-block text-lg">جمع کل</span>
                    <h3 class="font-bold text-xl" itemprop="totalPrice" content="11000000">
                        11,000,000 تومان
                    </h3>
                </div>
                <div class="text-end">
                    <a href="/checkout" class="bg-primary-grad hover:bg-primary-600 text-white py-2 px-4 rounded-lg"
                        role="button" aria-label="تکمیل فرایند خرید">
                        تکمیل خرید
                    </a>
                </div>
            </div>
        </footer>
    </div>
    <!-- Overlay -->
    <div class="overlay transition fixed inset-0 z-40 bg-black/70 hidden" onclick="closeOffcanvas()" role="presentation"
        aria-hidden="true"></div>
    <!-- ================= end cart offcanvas ================= -->

    <!-- ================= start filter modal ================= -->
    <div id="filterModal" role="dialog" aria-modal="true" aria-labelledby="filterModalTitle" data-modal-id="filterModal"
        class="modal hidden fixed inset-0 z-50 overflow-auto backdrop-blur bg-opacity-50">
        <div class="relative p-4 w-full max-w-md m-auto flex items-center min-h-screen">
            <div class="relative dark:bg-background-dark border-gray-300 border bg-white rounded-lg shadow-lg w-full"
                itemscope itemtype="http://schema.org/Place">
                <!-- Header -->
                <div class="flex justify-between items-center p-4 dark:border-b-white border-b">
                    <h3 id="filterModalTitle" class="text-xl  dark:text-white" itemprop="name">فیلتر بر اساس
                        شهر</h3>
                    <button data-modal-close class="text-gray-500 hover:text-gray-700 cursor-pointer text-3xl"
                        aria-label="بستن پنجره فیلتر">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6 dark:text-white">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <!-- Content -->
                <div class="p-4">
                    <!-- Cities Data -->
                    <meta itemprop="address"
                        content="تهران,مشهد,اصفهان,تبریز,شیراز,اهواز,قم,کرج,کرمانشاه,ارومیه,زاهدان,رشت,همدان,یزد,اردبیل,بندرعباس,کیش,ساری,گرگان,بجنورد">
                    <div id="citySelector"
                        data-cities="تهران,مشهد,اصفهان,تبریز,شیراز,اهواز,قم,کرج,کرمانشاه,ارومیه,زاهدان,رشت,همدان,یزد,اردبیل,بندرعباس,کیش,ساری,گرگان,بجنورد">
                    </div>
                    <!-- Search Form -->
                    <form id="searchForm" class="mb-2" role="search">
                        <label for="search" class="mb-2 block text-sm font-medium dark:text-white text-gray-900">
                            جستجوی شهر
                        </label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500" aria-hidden="true" focusable="false"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                </svg>
                            </div>
                            <input type="search" id="search"
                                class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary focus:border-primary dark:bg-background-dark dark:text-white"
                                placeholder="نام شهر را وارد کنید" aria-describedby="searchDescription" required>
                        </div>
                        <p id="searchDescription" class="sr-only">برای جستجو در بین شهرهای موجود تایپ کنید</p>
                    </form>
                    <!-- Selected Cities -->
                    <div id="selectedCities" class="flex my-3 flex-wrap gap-2" role="status" aria-live="polite"></div>
                    <!-- Cities List -->
                    <ul id="cityList"
                        class="w-full h-80 overflow-y-auto text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white"
                        role="listbox" aria-labelledby="filterModalTitle">
                        <template id="cityTemplate">
                            <li role="option" class="p-3 border-b cursor-pointer hover:bg-gray-100" tabindex="0"
                                itemprop="containsPlace" itemscope itemtype="http://schema.org/City">
                                <span itemprop="name"></span>
                            </li>
                        </template>
                    </ul>
                    <!-- Filter Button -->
                    <div class="mt-4">
                        <button id="filterButton"
                            class="w-full px-4 py-3 cursor-pointer bg-primary text-white rounded-lg hover:bg-primary-600 transition-colors"
                            aria-label="اعمال فیلتر بر اساس شهرهای انتخاب شده">
                            فیلتر کن
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ================= end filter modal ================= -->

    <!-- ================= start responsive menu offcanvas ================= -->
    <div id="offcanvas-right"
        class="offcanvas invisible overflow-y-scroll fixed top-0 right-0 sm:w-100 w-[80%] h-full bg-white dark:bg-background-dark shadow-lg transform -translate-x-full transition-transform opacity-0 z-50"
        role="navigation" aria-labelledby="store-menu-title" aria-modal="true">
        <div class="border-b p-3 flex items-center justify-between border-gray-400">
            <h2 id="store-menu-title" class="font-bold text-base dark:text-white">فروشگاه لوکس مارکت</h2>
            <button onclick="closeOffcanvas()" class="cursor-pointer" aria-label="بستن منوی فروشگاه">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-8 dark:text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        <nav class="relative space-y-4 divide-y divide-gray-200 p-3 overflow-y-scroll h-full"
            style="padding-left: 0!important;" aria-label="منوی اصلی">
            <ul class="space-y-2 text-sm">
                <li class="bg-ul-f7 border border-gray-100 dark:bg-zinc-800 dark:text-white p-2" itemscope
                    itemtype="http://schema.org/SiteNavigationElement">
                    <a href="/" class="block" itemprop="url">صفحه اصلی</a>
                </li>
                <li class="bg-ul-f7 border border-gray-100 dark:bg-zinc-800 dark:text-white p-2" itemscope
                    itemtype="http://schema.org/SiteNavigationElement">
                    <button class="flex justify-between w-full text-right" aria-expanded="false" aria-controls="menu1"
                        id="menu1-button" onclick="toggleDropdown('menu1')">
                        <span itemprop="name">گوشی موبایل</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 transition-transform transform"
                            id="icon-menu1" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd" />
                        </svg>
                    </button>
                    <ul id="menu1" class="hidden bg-gray-200 dark:bg-background-dark dark:text-white" role="menu"
                        aria-labelledby="menu1-button">
                        <li class="border-b border-gray-300" itemscope
                            itemtype="http://schema.org/SiteNavigationElement">
                            <button class="flex justify-between w-full px-6 py-2 text-right" aria-expanded="false"
                                aria-controls="submenu1" id="submenu1-button" onclick="toggleDropdown('submenu1')">
                                <span itemprop="name">برند</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 transition-transform transform"
                                    id="icon-submenu1" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button>
                            <ul id="submenu1" class="hidden bg-gray-100 dark:bg-zinc-500 dark:text-gray-200" role="menu"
                                aria-labelledby="submenu1-button" itemscope itemtype="http://schema.org/Brand">
                                <li class="px-8 py-2 border-b border-gray-200" itemprop="name">سامسونگ</li>
                                <li class="px-8 py-2 border-b border-gray-200" itemprop="name">اپل</li>
                                <li class="px-8 py-2 border-b border-gray-200" itemprop="name">شیائومی</li>
                                <li class="px-8 py-2 border-b border-gray-200" itemprop="name">هواوی</li>
                                <li class="px-8 py-2 border-b border-gray-200" itemprop="name">نوکیا</li>
                                <li class="px-8 py-2 border-b border-gray-200" itemprop="name">ال جی</li>
                                <li class="px-8 py-2 border-b border-gray-200" itemprop="name">سونی</li>
                                <li class="px-8 py-2 border-b border-gray-200" itemprop="name">گوگل</li>
                                <li class="px-8 py-2 border-b border-gray-200" itemprop="name">وان پلاس</li>
                                <li class="px-8 py-2 border-b border-gray-200" itemprop="name">موتورولا</li>
                            </ul>
                        </li>
                        <li class="px-6 py-2 border-b border-gray-200" itemscope
                            itemtype="http://schema.org/ProductCategory">
                            <a href="/category/flagship" class="block" itemprop="name">پرچمدار</a>
                        </li>
                        <li class="px-6 py-2 border-b border-gray-200" itemscope
                            itemtype="http://schema.org/ProductCategory">
                            <a href="/category/mid-range" class="block" itemprop="name">میان رده</a>
                        </li>
                        <li class="px-6 py-2 border-b border-gray-200" itemscope
                            itemtype="http://schema.org/ProductCategory">
                            <a href="/category/budget" class="block" itemprop="name">اقتصادی</a>
                        </li>
                    </ul>
                </li>
                <li class="bg-ul-f7 border border-gray-100 dark:bg-zinc-800 dark:text-white p-2" itemscope
                    itemtype="http://schema.org/SiteNavigationElement">
                    <a href="/pages" class="block" itemprop="url">صفحات</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="overlay z-40 transition fixed inset-0 bg-black/70 hidden" onclick="closeOffcanvas()" role="presentation"
        aria-hidden="true"></div>
    <!-- ================= end responsive menu offcanvas ================= -->

    <!-- ================= start nav mobile menu ================= -->
    <nav
        class="fixed shadow-xl border-t-zinc-300 dark:border-0 bottom-0 z-20 lg:hidden left-0 right-0 dark:bg-background-dark dark:text-white bg-white border-t border-gray-200">
        <div class="flex justify-around items-center flex-row-reverse py-3 px-4">
            <!-- Home -->
            <a href="#" class="flex flex-col items-center text-primary space-y-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6 dark:text-primary">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                </svg>
                <span class="text-xs font-bold">خانه</span>
            </a>
            <!-- cart -->
            <a href="#" class="flex flex-col items-center text-gray-500 hover:text-gray-700 space-y-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6 dark:text-white">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                </svg>
                <span class="text-xs dark:text-white">سبد خرید</span>
            </a>
            <!-- Profile -->
            <a href="#" class="flex flex-col items-center text-gray-500 hover:text-gray-700 space-y-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6 dark:text-white">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                </svg>
                <span class="text-xs dark:text-white">پنل کاربری</span>
            </a>
            <!-- Top -->
            <a href="#" class="flex flex-col items-center text-gray-500 hover:text-gray-700 space-y-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6 dark:text-white">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                </svg>
                <span class="text-xs dark:text-white">رفتن به بالا</span>
            </a>
        </div>
    </nav>
    <!-- ================= end nav mobile menu ================= -->

    {% include 'base/nav_mobile_menu.html' %}

</body>

</html>